* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size 23px;
  font-weight: bold;
}

.header {
  color: white;
  background-image: url('../images/the-flatiron-building.png');
}

.nyc {
  background-image: url('../images/the-flatiron-building.png');
  color: white;
}

p {
  font-size: 14px;
}

li {
  font-size: 18px;
}
a {
  text-decoration: none;
  color: white;
}

footer {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
